/* Basic page styling */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
  }
  
  /* Main container */
  div {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background: white;
  }
  
  /* Header styles */
  h1 {
    color: #333;
    margin-bottom: 20px;
    text-align: center;
  }
  
  /* Input styling */
  input {
    padding: 8px 10px;
    margin-bottom: 20px;
    width: 100%;
    max-width: 300px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  /* Table styling */
  table {
    width: 800px;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #383838;
    color: #333;
  }
  
  th {
    background-color: #007BFF;
    color: white;
  }
  
  